# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://<project-ref>.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=<sua-anon-key>

# Assets
NEXT_PUBLIC_LOGO_URL=https://<project-ref>.supabase.co/storage/v1/object/public/logos/logo_cg_escrita_abaixo.png
